<div class="container mt-5">
    <form>
      <div class="form-group">
        <label for="exampleFormControlInput1">Name</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Product Name">
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">SKU</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Sku">
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">Price</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Price">
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">Inventory</label>
        <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="Inventory">
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">Category</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Category">
      </div>
      
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Description</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
      <div class="form-group mt-3">
        <button class="btn btn-danger pull-right btn-color">
          Submit
        </button>
      </div>
      
    </form>
  </div>